$ff-primary: "Overpass", sans-serif;
$ff-secondary: "Ubuntu", sans-serif;

$fs-xl: 1.85rem;
$fs-lg: 1.5rem;
$fs-md: 1rem;
$fs-sm: 0.75rem;

$fw-bold: 700;
$fw-semibold: 600;
$fw-medium: 500;
$fw-regular: 400;
$fw-light: 300;

$ff-heading: $ff-primary;
$ff-primary-body: $ff-primary;
$ff-secondary-body: $ff-secondary;

$fs-heading-1: $fs-xl;
$fs-heading-2: $fs-lg;
$fs-body-1: $fs-md;
$fs-body-2: $fs-sm;
