@use "../abstracts" as *;

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $clr-neutral-accent-bg;
  padding: 4rem 4rem 2rem 4rem;
  border-radius: 0 5rem 0 0;

  .logo {
    padding-bottom: 3rem;
  }

  nav {
    padding-bottom: 2rem;

    ul {
      margin: 0;
    }
  }

  .list-container,
  .list-container > p {
    padding-bottom: 1.5rem;
  }
}

@include lg {
  footer {
    padding: 4rem 10rem;
    align-items: start;
    text-align: left;

    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 0;

      .list-container {
        padding-bottom: 0;
      }
      .list-container ul {
        gap: 1rem;
      }
    }
  }
}
