@use "../abstracts" as *;

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3.125rem 1.5rem 0;
  z-index: 50;
}

nav {
  ul {
    list-style: none;

    .separator {
      margin-top: 1rem;
      padding: 1rem 0;
      border-top: 2px solid hsl(240, 2%, 93%);
    }
  }

  .main-menu {
    margin-top: 2rem;
    width: 90%;
    position: absolute;
    left: 5%;
    text-align: center;
    background-color: $clr-neutral-white;
    padding: 2rem 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 30px -15px $clr-bg-body-1;
    transform: translateY(-150%);
    transition: transform 0.2s ease-in-out;
  }

  li {
    position: relative;

    .arrow {
      transition: transform 0.25s ease;
    }
    ul {
      margin: 0.5rem 0;
      flex-direction: column;
      gap: 1rem;
      border-radius: 0.5rem;
      padding: 1.25rem 1rem;
      background-color: hsl(240, 2%, 93%);
      visibility: visible;
      display: none;
    }
  }
}

@include lg {
  header {
    justify-content: start;
    padding: 3.125rem 8rem 0;
  }

  nav {
    width: 100%;

    .btn-toggle {
      display: none;
    }

    ul {
      .separator {
        margin: 0;
        margin-left: auto;
        padding: 0 1rem 0 0;
        border: none;
      }
    }

    .main-menu {
      width: 100%;
      transform: none;
      position: static;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: transparent;
      box-shadow: none;
      padding: 0 0 0 2rem;
      margin: 0;
    }

    li {
      position: relative;
      ul {
        position: absolute;
        top: 3rem;
        left: -3rem;
      }
    }
  }
}
