@use "../abstracts" as *;

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero {
  width: 100%;
  height: 100vh;
  border-radius: 0 0 0 5rem;
  overflow: hidden;
  position: relative;
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(3.25) translate(10%, 15%);
    z-index: 0;
  }
  &__img-layer {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(0.35turn, $clr-bg-gradient-1, $clr-bg-gradient-2 90%);
    z-index: -1;
  }
  &__text-container {
    padding: 2.5rem 3.25rem;
    z-index: 2;
  }
  &__btn-container {
    z-index: 2;
  }
}

.feature {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 5rem 2rem;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &-text {
      max-width: 60ch;
    }

    > div {
      gap: 3rem;
    }
  }

  &.two {
    border-radius: 0 5rem 0 5rem;
    position: relative;
    gap: 0;
    margin-top: 8rem;
    background-color: color-mix(in hsl, $clr-bg-body-1, $clr-bg-body-2);
    img.top-layer {
      position: absolute;
      max-width: 350px;
      top: -25%;
      z-index: 1;
    }
    .bottom-layer {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: inherit;
      img {
        max-width: 575px;
        position: absolute;
        top: -35%;
        z-index: 0;
      }
    }

    .feature__content {
      padding-top: 10rem;
      z-index: 2;
    }
  }
}

@include lg {
  .hero {
    &__img {
      transform: scale(2.25) translate(11%, -8%);
    }
  }

  .feature {
    // position: relative;
    &__content {
      padding: 5rem;
      flex-direction: row-reverse;

      > div {
        width: 50%;
        text-align: left;
      }
      > picture {
        position: absolute;
        right: -22rem;
        // transform: scale(0.85);
        transition: all 0.25s ease;
      }
    }

    &.one {
      > .feature__content {
        justify-content: start;
      }
    }
  }
}

@include xl {
  .feature {
    &__content {
      > picture {
        right: -20rem;
      }
    }
  }
}
