@use "../abstracts" as *;

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero {
  width: 100%;
  height: 70vh;
  border-radius: 0 0 0 5rem;
  overflow: hidden;
  position: relative;
  &__img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(3.25) translate(10%, 15%);
    z-index: 0;
  }
  &__img-layer {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(0.35turn, $clr-bg-gradient-1, $clr-bg-gradient-2 90%);
    z-index: -1;
  }
  &__text-container {
    padding: 2.5rem 3.25rem;
    z-index: 2;
  }
  &__btn-container {
    z-index: 2;
  }
}

.feature {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 5rem 2rem;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &-text {
      max-width: 60ch;
      gap: 3rem;
    }
  }

  &.two {
    border-radius: 0 5rem 0 5rem;
    position: relative;
    gap: 0;
    margin-top: 8rem;
    background-color: color-mix(in hsl, $clr-bg-body-1, $clr-bg-body-2);
    img.top-layer {
      position: absolute;
      max-width: 350px;
      top: -25%;
      z-index: 1;
    }
    .bottom-layer {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: inherit;
      img {
        max-width: 575px;
        position: absolute;
        top: -35%;
        z-index: 0;
      }
    }

    .feature__content {
      padding-top: 10rem;
      z-index: 2;
    }
  }
}

@include lg {
  .hero {
    &__img {
      transform: scale(2.25) translate(12%, -15%);
    }
  }

  .feature {
    position: relative;
    align-items: normal;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding: 8rem 2rem;
    gap: 0;

    &__content {
      flex-direction: row-reverse;

      &-text {
        text-align: left;
        max-width: 100ch;
      }
    }

    &.one {
      h2 {
        grid-area: 1 / 1 / 1 / span 2;
      }

      .feature__content {
        padding: 5rem 0 10rem clamp(3rem, -23.9147rem + 43.4109vw, 10rem);
        justify-content: start;

        &-image {
          position: absolute;
          top: 0;
          right: -22rem;
          transform: scale(0.85);
          transition: all 0.25s ease;
        }

        &-text {
          grid-area: 2 / 1 / 2 / 1;
        }
      }
    }

    &.two {
      margin-top: 0;
      img.top-layer {
        grid-area: 1 / 1 / 1 / 1;
        max-width: none;
        top: -12rem;
        left: clamp(0rem, -13.0597rem + 16.7164vw, 7rem);
        z-index: 1;
      }
      .bottom-layer {
        img {
          max-width: none;
          top: -33rem;
          left: -15%;
          z-index: 0;
        }
      }

      .feature__content {
        padding-top: 0;
        grid-area: 1 / 2 / 1 / 2;
      }
    }

    &.three {
      position: relative;
      flex-direction: row;

      img {
        position: absolute;
        top: 20%;
        left: -2%;
        transform: scale(1.75);
        transition: all 0.25s ease;
      }
      .feature__content {
        grid-area: 1 / 2 / 1 / 2;
      }
    }

    &.two,
    &.three {
      .feature__content {
        padding: 0 clamp(3rem, -23.9147rem + 43.4109vw, 10rem) 0 5rem;
        justify-content: start;
      }
    }
  }
}

@include xl {
  .feature {
    &__content {
      &-text {
        max-width: 55ch;
      }

      > picture {
        right: -20rem;
      }
    }

    &.one {
      .feature__content {
        &-image {
          right: -18rem;
          transform: scale(0.9);
        }
      }
    }

    &.three {
      margin: 10rem 0;
      img {
        transform: scale(2);
      }
    }

    &.two,
    &.three {
      .feature__content {
        padding: 0 10rem 0 0;
        justify-content: start;
      }
    }
  }
}
